:root {
  --color-1: #212121;
  --color-2: #ffffff;
  --color-3: #757575;
  --color-4: #2196f3;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background: #e5e5e5;
  color: var(--color-1);
}

header {
  display: flex;
  height: 80px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background: var(--color-2);
}

header > .container {
  display: flex;
  align-items: center;
}

.logo-header {
  display: flex;
  margin-right: 93px;

  width: 145px;
  height: 31px;
  color: var(--color-1);
  font-family: Raleway;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header-web {
  color: var(--color-4);
}

.nav-links {
  display: flex;
}

.nav-item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--color-1);
  text-decoration: none;
}

.header-contacts {
  letter-spacing: 0.02em;
  color: var(--color-3);
}

.link:hover,
.link:focus {
  color: var(--color-4);
}

main > section {
  margin-bottom: 94px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-2);
}

.hero {
  background: #2f303a;
  flex-direction: main-size;
}

.hero > h1 {
  display: block;
  text-align: center;
  margin: auto;

  width: 696px;
  height: 120px;
}

.hero-button {
  display: block;
  background: var(--color-4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.hero-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-2);
}

.instruments-none {
  visibility: hidden;
}

.instruments {
  display: flex;
}

.instruments > .instruments-list:not(:last-child) {
  margin-right: 30px;
}

.instruments-h3 {
  font-family: Roboto;
  width: 270px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.instruments-text {
  width: 270px;
  line-height: 1.71;
  color: var(--color-3);
}

.our-work-list {
  display: flex;
}

.our-work-h2 {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-work-list > li:not(:last-child) {
  margin-right: 30px;
}

.our-team {
  font-size: 16px;
  line-height: 1.19;
}

.our-team-h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.professional {
  display: flex;
}

.professional > li {
  background: var(--color-2);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.professional > li:not(:last-child) {
  margin-right: 30px;
}

.professional > li > img {
  margin-bottom: 30px;
}

.our-team-h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.our-team-p {
  text-align: center;
  color: var(--color-3);
}

footer {
  background: #2f303a;
}

footer > .container {
  display: flex;
  height: 252px;
}

address {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-ul {
  margin-top: 20px;
}

.address-ul > li:not(:last-child) {
  margin-bottom: 8px;
}

.logo-footer {
  color: var(--color-4);
  font-family: Raleway;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer-studio {
  color: var(--color-2);
}

.footer-addres {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-2);
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

button {
  font-family: inherit;
}

/* portfolio start */

.section {
  margin-top: 114px;
}

.h1-none {
  display: none;
}

.buttons > li:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  display: flex;
  outline: transparent;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 56px;
  color: var(--color-1);
  line-height: 1.62;
}

.buttons-touch {
  font-weight: 500;
  border-radius: 4px;
  border: none;
  color: var(--color-1);
  background: #f5f4fa;
}

.buttons-touch:hover {
  background: var(--color-4);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-2);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list > li {
  background: var(--color-2);
  border: 1px solid #eeeeee;
}

.list > li > img {
  margin-top: 0px;
  margin-bottom: 20px;
}

.list p {
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  width: 320px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-1);
}

.list a {
  display: flex;
  margin: 0px 24px 20px 24px;
  width: 320px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-3);
}

.list > li {
  width: 370px;
  margin: 0 30px 30px 0;
}
.list > li:nth-child(3n) {
  margin-right: 0;
}
.list > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* portfolio end */
